<?xml version="1.0"?>
<model>
  <name>drone_thermal</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Daniel Mesham</name>
    <email>daniel@auterion.com</email>
  </author>
  <description>An X500 with a downward-facing monocular camera and thermal cam.</description>
</model>
